@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');

:root{
  --brown: rgba(124, 106, 70, 1)
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Raleway", sans-serif !important;
    /* background-color: rgb(228, 131, 11); */
}

.container{
    width: 100%;
    margin: 0 auto;
     background-color: white;
 }
 /* .main{
     margin: 5rem;
     padding: 0 2rem;
 } */

/* Navigation */

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.nav-bar ul{
 display: flex;
 list-style: none;
 padding: 0;
gap:3rem;
font-weight: 550;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  color: black;
  
}
/* .nav-bar > li:nth-child(1) {
    color: var(--brown);
  } */
  #current{
    color: var(--brown);
  }
.nav-bar > ul > li > a:hover {
  color: var(--brown);
}
.nav-button button{
    width: 165px;
    height: 55px;
    background-color: var(--brown);
    color: whitesmoke ;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: none;
}


/* home-screen */

.home-screen{
    position: relative;
    height: 90vh;
    background-image: url(../images/homePage-bgImage.svg);
    background-repeat: no-repeat;

    z-index: 1;


}
.blur-img{
    background: var(--brown);
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: .5;
    position: absolute;
}


.home-screen-content{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* color: whitesmoke; */
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    z-index: 5;
}
.home-screen-content h1, .home-screen-content p{
    z-index: 99;
}

.contact-details{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
    padding: 2rem 5rem;
}
.contact-details01{
    display: flex;
    justify-content: space-between;
}
.contact-details02{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Name , .Email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Name input , .Email input{
    width: 32vw;
    height: 8vh;
    border: 0.5px solid #918d8d;
    
}
.contact-details02 input{
    width:100%;
height: 50vh;
border: 0.5px solid #918d8d;

}


/* google map */

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}



/* footer */

.footer {
  background-color: var(--brown);
  color: whitesmoke;
  /* padding-bottom: 4rem; */
  /* margin: 4rem; */
  padding: 2rem;
}
.footer-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  padding: 1rem 2rem;
  color: #fff;
  /* text-align: justify; */
  font-family: Raleway;
  /* font-size: 10px; */
  font-style: normal;

  line-height: normal;
}
.footer-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.footer-content span {
  font-family: "Dancing Script";
  font-weight: 500;
  font-size: 1.5rem;
  font-size: 30px;
}
.footer-content p {
  text-align: justify;
  font-size: 12px;
}
.footer-navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 19px;
}
.footer-navbar > span {
  font-size: 15px;
}
.footer-navbar > li{
  font-size: 12px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.subscribe-button {
  background-color: whitesmoke;
  color: rgb(181, 176, 169);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  width: 360px;
  height: 50px;
  align-items: center;
  border-radius: 4px;
}
.subscribe-button button {
  width: 111px;
  height: 40px;
  background-color: var(--brown);
  color: whitesmoke;
  border: none;
  /* border-radius: 3.5px; */
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}
