@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');

:root{
  --brown: rgba(124, 106, 70, 1)
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Raleway", sans-serif !important;
  
}

.container{
   width: 80%;
   margin: 0 auto;
    background-color: white;
}
/* .main{
    margin: 5rem;
    padding: 0 2rem;
} */

/* Navigation */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.nav-bar ul{
 display: flex;
 list-style: none;
 padding: 0;
gap:3rem;
font-weight: 550;
}

.nav-bar ul li a:nth-child(1){
    color: var(--brown);
}

.nav-bar ul li a{
    text-decoration: none;
    color: black;
}
.nav-bar ul li a:hover{
    color: var(--brown);
}
.nav-button button{
    width: 165px;
    height: 55px;
    background-color: var(--brown);
    color: whitesmoke ;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: none;
}

/* Home screen  */
.home-screen{
    position: relative;
    /* height: 100vh; */
    

}
.home-screen-content video{
    /* position: absolute; */
    height: 75%;
    width: 100%;
    /* color: whitesmoke; */
    
}



/* cntainer-body */

.container-body{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    height: 100%;
    padding-top: 2rem;
}
.container-body01, .container-body02, .container-body03 {
    position: relative;
    margin: 2rem 0;
}
.rooms-card{
 /* background-image: url( "./assets/images/explore-room.svg" );   */
 /* height: 500px;
    width: 100%; */
    /* position: relative; */
    /* background-color: var(--brown); */
    /* margin: 4rem 0; */
}
.container-body-bgImg  {
    position: relative;
    /* background-image: url(../images/explore-room.svg); */
}
.container-body-bgImg img{
    /* position: absolute; */
   
}
.container-body-details{
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    /* border: 3px solid red; */

}
.container-body-content{
    width: 500px;
    height: 200px;
    background-color: whitesmoke;
    border-top: 16px solid var(--brown);
    /* margin: 60vh 0 0 24vw; */
    position: absolute;
    bottom: -45px;
    left: 30%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center
}
.container-body-content h2{
    color: var(--brown);
}










/* footer */

.footer {
    background-color: var(--brown);
    color: whitesmoke;
    /* padding-bottom: 4rem; */
    /* margin: 4rem; */
  }
  .footer-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 1rem 2rem;
    color: #fff;
    /* text-align: justify; */
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
  
    line-height: normal;
  }
  .footer-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .footer-content span {
    font-family: "Dancing Script";
    font-weight: 500;
    font-size: 1.5rem;
  }
  .footer-content p {
    text-align: justify;
  }
  .footer-navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 19px;
  }
  .footer-navbar li {
  }
  
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  .subscribe-button {
    background-color: whitesmoke;
    color: rgb(181, 176, 169);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    width: 360px;
    height: 50px;
    align-items: center;
    border-radius: 4px;
  }
  .subscribe-button button {
    width: 111px;
    height: 40px;
    background-color: var(--brown);
    color: whitesmoke;
    border: none;
    /* border-radius: 3.5px; */
  }
  .footer-bottom {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }