@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');

:root{
  --brown: rgba(124, 106, 70, 1)
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Raleway", sans-serif !important;
    /* background-color: rgb(228, 131, 11); */
}

.container{
   width: 100%;
  margin: 0 auto;
  background-color: white;
}
/* .main{
    margin: 5rem;
    padding: 0 2rem;
} */

/* Navigation */

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
.navigation-mobile{
  display: none;
}

.nav-bar ul{
 display: flex;
 list-style: none;
 padding: 0;
gap:3rem;
font-weight: 550;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  color: black;
  
}
/* .nav-bar > li:nth-child(1) {
    color: var(--brown);
  } */
  #current > a{
    color: var(--brown);
  }
.nav-bar > ul > li > a:hover {
  color: var(--brown);
}
.nav-button button{
    width: 165px;
    height: 55px;
    background-color: var(--brown);
    color: whitesmoke ;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: none;
}


/* home-screen */

.home-screen{
    position: relative;
    height: 90vh;
    /* width: 100%; */
    background-image: url(../images/homePage-bgImage.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center center;

    z-index: 1;
}
.home-screen span{
    position: absolute;
    background-color: var(--brown);
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: 3;
}
.home-screen-content{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* color: whitesmoke; */
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    z-index: 4;
    gap: 4rem;
}

.home-screen-content h1, .home-screen-content p,.home-screen-content button, .home-screen-content i, .fa-arrow-down{
    z-index: 999;
}


.home-screen-content button{
    border: 2px solid whitesmoke;
    border-radius: 24px;
    height: 90px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.fa-arrow-down{
  color: whitesmoke;
}


/* rooms-card */

.rooms-card{
    position: relative;
    /* display: flex; */
    padding: 4.5rem 5.5rem;
    background-color: white;
    color: var(--brown);
    width: 100%;
}
.rooms-card-01, .rooms-card-02{
    display: flex;
    gap: 3rem;

}
.rooms-card-01{
    padding-bottom: 2rem;
}
.card{
    position: relative;
    background-color: whitesmoke;
    box-shadow: 2px 3px 3px 0 rgba(0,0,0,.3);

}
.room{
    position: relative;
    width: 100%;
    height: 60%;
}
.room img{
    width: 100%;
}
.room-details{
    display: flex;
    position: relative;
    width: 100%;
    height: 40%;
    flex-direction: column;
    justify-content: flex-end;

}
.room-details hr {
    color: var(--brown);
}
.room-name{
  padding: 6px;
  display: flex;
    flex-direction: column;
    gap: 5px;
}
.room-type{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.room-price{
  padding-left: 5px;
}
.room-facility{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}
.room-facility-icons ul li {
    list-style-type: none;
    padding: 0;
    border: 6px solid rgba(242, 242, 242, 1);
    border-radius: 13px  ;
    background:rgba(242, 242, 242, 1);
 }
.room-facility-icons ul {
display: flex;
justify-content: space-evenly;
padding: 0;
gap: 1.5rem;
}
.room-facility button{
    width: 143px;
    height: 47px;
    background-color: var(--brown);
    color: whitesmoke ;
    align-items: center;
    /* display: flex;
    justify-content: space-around; */
    border: none;
    border-radius: 4px;
}

/* footer */

.footer {
  background-color: var(--brown);
  color: whitesmoke;
  /* padding-bottom: 4rem; */
  /* margin: 4rem; */
  padding: 1rem;
}
.footer-details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* gap: 5rem; */
  padding: 1rem;
  color: #fff;
  /* text-align: justify; */
  font-family: Raleway;
  /* font-size: 10px; */
  font-style: normal;
 width: 100%;
  line-height: normal;
}
.footer-navbar {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1rem;
  /* width: 30%; */
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 30%;

}
.footer-content span {
  font-family: "Dancing Script";
  font-weight: 700;
  font-size: 1.5rem;
  font-size: 30px;
}
.footer-content p {
  text-align: justify;
  font-size: 14px;
  font-weight: 700;
}
.footer-navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 12px;
}
.footer-navbar > span {
  font-size: 15px;
  font-weight: 700;
}
.footer-navbar > ul > li{
  font-size: 12px;
  font-weight: 700;
  /* padding: 0 12px; */
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 19px;
  font-size: 14px;
  font-weight: 700;
  width: 30%;

}
.subscribe-button {
  background-color: whitesmoke;
  color: rgb(181, 176, 169);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  width: 360px;
  height: 50px;
  align-items: center;
  border-radius: 4px;
}
.subscribe-button button {
  width: 111px;
  height: 40px;
  background-color: var(--brown);
  color: whitesmoke;
  border: none;
  /* border-radius: 3.5px; */
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}
.footer-body{
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
  justify-content: space-evenly;
}

  /* new css media quries sizes */
/* Mobile */
@media  only screen and (min-width: 320px) and  (max-width:600px)  {
  /* Styles for mobile devices */

/* Navigation  */
/* .dropdwn{
  display: ;
  background-color: rgba(242, 242, 242, 1);
  color: var(--brown);
  font-size: 25px;
  border: ;
  cursor: pointer; */
/* }

.nav-bar{
  position: relative;
  display: inline-block;
}
.nav-bar ul{
  gap:16px
}

.nav-button button, .home-page-nav-button > button{
  width: 120px;
  height: 40px;
}
.dropdwn-list{
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  flex-direction: column;
 
}
.dropdwn-list a{
  padding: 12px 16px;
  display: block;
}
.dropdwn-list a:hover{
  background-color: whitesmoke;
}
.nav-bar:hover .dropdwn-list{
display: block;
}
.nav-bar:hover .dropdwn{
background-color: #00a699;
} */

.navigation{
  display: none;
}
.navigation-mobile{
  display: block;
  gap: 10px;
  display: flex;
    flex-direction: column;
    padding: 1rem;
}
.navigation-mobile-header{
  display: flex;
  justify-content: space-between;
    align-items: center;
}
.navigation-mobile-footer{
}
.nav-bar ul {
  justify-content: space-between;
  gap: 0;

}
.nav-button button {
  width: 130px;
  height: 45px;
}

/* home screen  */
.home-screen{
  height: 100%;
}
.rooms-card{
  padding: 1.5rem 1rem;
}

.rooms-card-01, .rooms-card-02 {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
}
.rooms-card-01 {
  padding-bottom: 1.2rem;
}

/* footer  */

.footer-navbar{
  display: none;
}
.footer-details{
  padding: 1rem 0rem;
  flex-direction: column;

}
.subscribe-button{
  width: 258px;
}
.footer-content{
  width: 100%;
}
.subscribe{
  width: 100%;
  gap:10px;
  padding-top: 12px;
}



}
/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for tablet devices */
  .navigation-mobile{
    display: none;
  }

  /* home screen  */

  .home-screen{
    height: 0%;
    background-size: cover;
    background-position: center center;
  }
  .home-screen-content{
    height: 100%;
    text-align: center;
  }

  .rooms-card{
    padding: 1.5rem 1rem;
  }
  
  .rooms-card-01, .rooms-card-02 {
    display: flex;
    gap: 1.2rem;
    /* flex-direction: column; */
    align-items: center;
  }
  .rooms-card-01 {
    padding-bottom: 1.5rem;
  }
  .room-name{
    width: 100%;
  }
  .room-type{
    padding: 0 5px;
  }
  .room-facility{
    padding: 2px;
  }
  .room-facility-icons ul{
    padding: 0;
    gap: 4px;
  }
  .room-facility button{
    width: 100px;
    height: 32px;
  }




/* footer  */


.footer-body{
  display: none;
}
.footer-details{
  padding: 1rem 0rem;
  gap: 33px
}
.subscribe-button{
  width: 258px;
}
.footer-content{
  width: 50%;
}
.subscribe{
  width: 50%;
  gap:10px;
  padding-top: 12px;
}

}

/* Laptop & other L- screen devices */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
   /* Styles for Laptop & other L- screen devices */
   .navigation-mobile{
    display: none;
  }
}

  